<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
</head>
<body>

<p>Bienvenido al quiz de Miguel</p>

<img src="/images/miguel.jpg" width="200" />

</body>
</html>